<html>
<head>
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />
    <title>{NAME}</title>
    <link rel='stylesheet' href='https://unpkg.com/onsenui/css/onsenui.css'>
    <link rel='stylesheet' href='https://unpkg.com/onsenui/css/onsen-css-components.min.css'>
    <script src='https://unpkg.com/onsenui/js/onsenui.min.js'></script>
    <script src='https://unpkg.com/jquery/dist/jquery.min.js'></script>
    <script>
        const BLIND_COUNT = 2;
        const baseIpEnd = 150;
        const cversion = '{VERSION}';
        //const wsUriTemplate = 'ws://'+location.host+':81/';
        const wsUriTemplate = 'ws://192.168.1.150:81/';
        const repo = 'motor-on-roller-blind-ws';

        const blindHomeSectionTemplate = `
        <ons-card>
            <ons-row>
                <ons-col style='text-align: center;'>
                    <h1>Blind {BLIND_NUMBER}</h1>

                </ons-col>
                <ons-col style='text-align: center;margin-top: 25px'>
                    Connection: <ons-icon id="conn_status_icon_{BLIND_NUMBER}" icon="fa-circle" style="color: yellow;">
                </ons-col>
            </ons-row>
        </ons-card>

        <ons-card>
            <div class='title'>Adjust position</div>
            <div class='content'><p>Move the slider to the wanted position or use the arrows to open/close to the max positions</p></div>
            <ons-row>
                <ons-col width='40px' style='text-align: center; line-height: 31px;'>
                </ons-col>
                <ons-col>
                    <ons-progress-bar id='pbar_{BLIND_NUMBER}' value='75'></ons-progress-bar>
                </ons-col>
                <ons-col width='40px' style='text-align: center; line-height: 31px;'>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width='40px' style='text-align: center; line-height: 31px;'>
                    <ons-icon id='arrow-open_{BLIND_NUMBER}' class="arrow-open" blind-number="{BLIND_NUMBER}" icon='fa-arrow-up' size='2x'></ons-icon>
                </ons-col>
                <ons-col>
                    <ons-range id='setrange_{BLIND_NUMBER}' class="setrange" blind-number="{BLIND_NUMBER}" style='width: 100%;' value='25'></ons-range>
                </ons-col>
                <ons-col width='40px' style='text-align: center; line-height: 31px;'>
                    <ons-icon id='arrow-close_{BLIND_NUMBER}' class="arrow-close" blind-number="{BLIND_NUMBER}" icon='fa-arrow-down' size='2x'></ons-icon>
                </ons-col>
            </ons-row>
        </ons-card>`

        const blindSettingSectionTemplate = `
        <ons-card>
            <ons-row>
                <ons-col style='text-align: center;'>
                    <h1>Blind {BLIND_NUMBER}</h1>
                </ons-col>
            </ons-row>
        </ons-card>
        <ons-card>
            <div class='title'>Control</div>
            <ons-row style='width:100%'>
                <ons-col style='text-align:center'><ons-icon id='arrow-up-man_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='arrow-up-man' icon='fa-arrow-up' size='2x'></ons-icon></ons-col>
                <ons-col style='text-align:center'><ons-icon id='arrow-stop-man_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='arrow-stop-man' icon='fa-stop' size='2x'></ons-icon></ons-col>
                <ons-col style='text-align:center'><ons-icon id='arrow-down-man_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='arrow-down-man' icon='fa-arrow-down' size='2x'></ons-icon></ons-col>
            </ons-row>
        </ons-card>
        <ons-card>
            <div class='title'>Store</div>
            <ons-row style='width:100%'>
                <ons-col style='text-align:center'><ons-button id='set-start_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='set-start'>Set Start</ons-button></ons-col>
                <ons-col style='text-align:center'>&nbsp;</ons-col>
                <ons-col style='text-align:center'><ons-button id='set-max_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='set-max'>Set Max</ons-button></ons-col>
            </ons-row>
        </ons-card>
        <ons-card>
            <div class='title'>Scheduler</div>
            <ons-row style='width:100%'>
                <ons-col style='text-align:center'>Open at: <input id='timepicker_open_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" type="time" class="text-input timepicker_open" ng-model="inputTime"/></ons-col>
                <ons-col style='text-align:center'>&nbsp;</ons-col>
                <ons-col style='text-align:center'>Close at: <input id='timepicker_close_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" type="time" class="text-input timepicker_close" ng-model="inputTime"/></ons-col>
            </ons-row>
            <ons-row style='width:100%'>
                <ons-col style='text-align:center'><ons-button id='set-schedule_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='set-schedule'>Save Schedule</ons-button></ons-col>
                <ons-col style='text-align:center'>&nbsp;</ons-col>
                <ons-col style='text-align:center'><ons-button id='clear-schedule_{BLIND_NUMBER}' blind-number="{BLIND_NUMBER}" class='button button--outline clear-schedule'>Clear Schedule</ons-button></ons-col>
            </ons-row>
        </ons-card>`

        window.fn = {};
        window.fn.open = function() {
            var menu = document.getElementById('menu');
            menu.open();
        };

        window.fn.load = function(page) {
            var content = document.getElementById('content');
            var menu = document.getElementById('menu');
            content.load(page)
                .then(menu.close.bind(menu)).then(setActions());
        };

        const gotoPos = function(index, percent){
            doSend(index,"percent", percent);
        };

        const setActions = function(){
            setTimeout(function(){doSend(undefined, 'update', 0);}, 500);

            setTimeout(function(){
                renderPage()
                setTimeout(function(){doSend(undefined, 'update', 0);}, 200);
                $('.arrow-close').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    $('#setrange_'+blindNumber).val(100);
                    gotoPos(blindNumber-1, 100);
                });
                $('.arrow-open').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    $('#setrange_'+blindNumber).val(0);
                    gotoPos(blindNumber-1, 0);
                });
                $('.setrange').on('change', function(){
                    const blindNumber = $(this).attr('blind-number')
                    gotoPos(blindNumber-1, $('#setrange_'+blindNumber).val())
                });

                $('.arrow-up-man').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    doSend(blindNumber-1,'manual',-1);
                });
                $('.arrow-down-man').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    doSend(blindNumber-1,'manual',1);
                });
                $('.arrow-stop-man').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    doSend(blindNumber-1,'manual',0);
                });
                $('.set-start').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    doSend(blindNumber-1,'start',0);
                });
                $('.set-max').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    doSend(blindNumber-1,'max',0);
                });
                $('.clear-schedule').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    $('#timepicker_open_'+blindNumber.toString()).val('')
                    $('#timepicker_close_'+blindNumber.toString()).val('')
                });
                $('.set-schedule').on('click', function(){
                    const blindNumber = $(this).attr('blind-number')
                    const openTime = $('#timepicker_open_'+blindNumber.toString()).val()
                    const closeTime = $('#timepicker_close_'+blindNumber.toString()).val()
                    doSend(blindNumber-1,'schedule',openTime + ";" + closeTime);
                });

            }, 200);
        };
        $(document).ready(function(){
            setActions();
        });

        var websocketArr = [];
        var timeOutArr = [];
        function retry(index){
            clearTimeout(timeOutArr[index]);
            timeOutArr[index] = setTimeout(function(){
                websocket=null; initWs(index);},5000);
        }

        function renderPage(){
            const homeContainerElement = document.getElementById('pageContent');
            const settingsContainerElement = document.getElementById('settingsContent');
            for (let i = 1; i <= BLIND_COUNT; i++){
                if (homeContainerElement){
                    homeContainerElement.innerHTML+=blindHomeSectionTemplate.replaceAll('{BLIND_NUMBER}', i.toString());
                }
                if (settingsContainerElement){
                    settingsContainerElement.innerHTML+=blindSettingSectionTemplate.replaceAll('{BLIND_NUMBER}', i.toString());
                }
            }
        }
        function onload(){
            initAllWebsockets()
        }

        function initAllWebsockets(){
            for (let i = 0; i < BLIND_COUNT; i=i+2){
                initWs(i)
            }
        }

        function getWsUri(index){
            return wsUriTemplate.replace('{IP_END}', baseIpEnd+index)
        }

        async function initWs(index){
            const deviceNumber = index + 1;
            setTimeout(function(){$('#conn_status_icon_'+deviceNumber).css('color', 'yellow');}, 1);
            setTimeout(function(){$('#conn_status_icon_'+(deviceNumber+1)).css('color', 'yellow');}, 1);
            ons.notification.toast({message: 'Connecting to device '+deviceNumber.toString()+'...', timeout: 1000});
            try{
                const websocket = new WebSocket(getWsUri(index));
                websocketArr[index] = websocket;
                websocket.onclose = function () {};
                websocket.onerror = function(evt) {
                    ons.notification.toast({message: 'Cannot connect to device '+deviceNumber.toString(), timeout: 2000});
                    setTimeout(function(){$('#conn_status_icon_'+deviceNumber).css('color', 'red');}, 1);
                    setTimeout(function(){$('#conn_status_icon_'+(deviceNumber+1)).css('color', 'red');}, 1);
                    retry(index);
                };
                websocket.onopen = function(evt) {
                    ons.notification.toast({message: 'Connected to device '+deviceNumber.toString(), timeout: 2000});
                    setTimeout(function(){$('#conn_status_icon_'+deviceNumber).css('color', 'yellowgreen');}, 1);
                    setTimeout(function(){$('#conn_status_icon_'+(deviceNumber+1)).css('color', 'yellowgreen');}, 1);
                    setTimeout(function(){doSend(index, 'update', 0);}, 1000);
                };
                websocket.onclose = function(evt) {
                    ons.notification.toast({message: 'Disconnected. Retrying '+deviceNumber.toString(), timeout: 2000});
                    retry(index);
                };
                websocket.onmessage = function(evt) {
                    try{
                        const msg = JSON.parse(evt.data);
                        const blindIndex = msg.id + index;
                        if (typeof msg.position !== 'undefined'){
                            $('#pbar_'+(blindIndex+1).toString()).attr('value', msg.position);
                        }
                        if (typeof msg.set !== 'undefined'){
                            $('#setrange_'+(blindIndex+1).toString()).val(msg.set);
                        }
                        if (typeof msg.scheduledOpen !== 'undefined'){
                            const timePickerOpen = $('#timepicker_open_'+(blindIndex+1).toString());
                            if (timePickerOpen){
                                timePickerOpen.val(msg.scheduledOpen);
                            }
                        }
                        if (typeof msg.scheduledClose !== 'undefined'){
                            const timePickerClose = $('#timepicker_close_'+(blindIndex+1).toString());
                            if(timePickerClose){
                                timePickerClose.val(msg.scheduledClose);
                            }
                        }
                        if (typeof msg.scheduleSuccess !== 'undefined'){
                            if (msg.scheduleSuccess === true){
                                ons.notification.toast({message: 'Schedule action for  '+(blindIndex+1).toString()+' saved successfully', timeout: 1000});
                            }else{
                                ons.notification.toast({message: 'Couldn\'t save schedule action for  '+(blindIndex+1).toString(), timeout: 1000});
                            }
                        }
                    } catch(err){}
                };
            } catch (e){
                ons.notification.toast({message: 'Cannot connect to device '+deviceNumber.toString()+'. Retrying...', timeout: 2000});
                setTimeout(function(){$('#conn_status_icon_'+deviceNumber).css('color', 'red');}, 1);
                setTimeout(function(){$('#conn_status_icon_'+(deviceNumber+1)).css('color', 'red');}, 1);
                retry(index);
            }
        }
        function doSend(index, command, value){
            const msg = '{"id": '+(index?index:0).toString()+', "action": "'+command+'", "value": "'+value.toString()+'"}';
            if (index !== undefined){
                const websocket = websocketArr[Math.floor(index/2)];
                if (websocket && websocket.readyState == 1){
                    websocket.send(msg);
                }
            }else{
                websocketArr.forEach(function (websocket, index, arr){
                    if (websocket && websocket.readyState == 1){
                        websocket.send(msg);
                    }
                });
            }

        }
        function closeAllWs(){
            websocketArr.forEach((ws) => {
                if (ws && ws.readyState == 1){
                    ws.close();
                }
            })

        }

        window.addEventListener('load', onload, false);
        window.onbeforeunload = function() {
            closeAllWs()
        };
    </script>
</head>
<body>

<ons-splitter>
    <ons-splitter-side id='menu' side='left' width='220px' collapse swipeable>
        <ons-page>
            <ons-list>
                <ons-list-item onclick='fn.load("home.html")    ' tappable>
                    Home
                </ons-list-item>
                <ons-list-item onclick='fn.load("settings.html")' tappable>
                    Settings
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-splitter-side>
    <ons-splitter-content id='content' page='home.html'></ons-splitter-content>
</ons-splitter>

<template id='home.html'>
    <ons-page>
        <ons-toolbar>
            <div class='left'>
                <ons-toolbar-button onclick='fn.open()'>
                    <ons-icon icon='md-menu'></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div id="pageContent">
            <!-- Page content will be rendered here -->
        </div>
    </ons-page>
</template>

<template id='settings.html'>
    <ons-page>
        <ons-toolbar>
            <div class='left'>
                <ons-toolbar-button onclick='fn.open()'>
                    <ons-icon icon='md-menu'></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class='center'>
                Settings
            </div>
        </ons-toolbar>

        <div id="settingsContent">
            <!-- Settings content will be rendered here -->
        </div>
    </ons-page>
</template>

</body>
</html>
